# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-electron
*.local
.env
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

release/
version-info.json
build/certificate.p12
build/installer_certificate.p12

# Windows self-signed certificates
build/certificates/*.pem
build/certificates/*.p12
!build/certificates/.gitkeep